body {
	margin:				0px;
	padding:			0px;
	background-color:	black;
	font-family:		Consolas, Courier New, Courier, Monaco, monospace;
}

#header {
	position:		fixed; 
    right:			1em;
	bottom:			1em;
	margin:			0px;
	padding:		0px;
	background-color:	rgba(100%, 100%, 100%, 0.8);
	z-index:			10;
	display:		none;
}
#header p {
	display:		inline-block;
	margin:			0px;
	padding:		0px 1em 0px 1em;
}

#result {
}

#code, #senko_console {
	position:			relative;
	background-color:	black;
	color:				white;
	font-family:		Consolas, Courier New, Courier, Monaco, monospace;
	white-space:		pre;
	width:				50%;
	font-size:			0.8em;
	line-height:		1.2em;
	-moz-tab-size:		4;
	tab-size:			4;
	overflow-x:			scroll;
}

#code {
	background-color:	#000030;
	float:				left;
}

#senko_console {
	background-color:	gray;
	float:				right;
}

@media screen and (max-device-width : 700px), screen and (max-width : 480px)  { 
	
	#header {
		display:		none;
	}
	
	#code, #senko_console {
		font-size:			0.5em;
		width:				100%;
		-moz-tab-size:		2;
		tab-size:			2;
	}
}
